{
  "presets": [
    "react-app"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@screens": "./src/app/screens",
        "@components": "./src/app/components",
        "@constants": "./src/constants",
        "@services": "./src/services",
        "@schemas": "./src/schemas",
        "@redux": "./src/redux",
        "@config": "./src/config",
        "@utils": "./src/utils",
        "@proptypes": "./src/proptypes",
        "@assets": "./src/assets"      
      }
    }]
  ]
}