{
  "extends": ["react-app", "airbnb"],
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "linebreak-style": "off",
    "import/no-unresolved": "off",
    "react/jsx-filename-extension": "off",
    "jsx-a11y/href-no-hash": "off",
    "react/button-has-type": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "import/prefer-default-export": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/destructuring-assignment": "off",
    "react/prop-types": "warn",
    "no-unused-vars": "warn",
    "react/no-unused-prop-types": "warn"
  }
}